<div class="title__container">
    <img src="assets/images/icons/bell.svg" width="40px" alt="">
    <h1>cloudcash</h1>
</div>
<div class="links__container">
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg" alt="">            
        </div>
        <span>Overview</span>
    </div>
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg"  alt="">            
        </div>
        <span>Overview</span>
    </div>
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg"  alt="">            
        </div>
        <span>Overview</span>
    </div>
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg" alt="">            
        </div>
        <span>Overview</span>
    </div>
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg"  alt="">            
        </div>
        <span>Overview</span>
    </div>
    <div class="links">
        <div class="icon">
            <img src="assets/images/icons/bell.svg"  alt="">            
        </div>
        <span>Overview</span>
    </div>
    
</div>