.actions__row{
    display: flex;
    button{
        margin-left: 5px;
        span{
            color: white;
        }
    }
}
td.mat-cell{
    padding-right:10px;
    
}
.order__spinner{
    display: flex;
    width: 100%;    
    justify-content: center;
    margin-top: 50px;
}
.list__filter__group{
    display: flex;      
    justify-content: space-between;
}