<div class="row">
  <div class="col-sm-12">
      <div class="title-box text-center pt-5">
          <h3 class="title-a">
              Pedidos
          </h3>
          <p class="subtitle-a">
              Listado de pedidos
          </p>
          <div class="line-mf"></div>
      </div>
  </div>
</div>
<div class="list__filter__group" role="group" *ngIf="!sucursal">
  <button type="button" (click)="addOrder()" >Realizar Pedido</button>   
  <div>
    Filtre por estado: 
    <select name="state" (ngModelChange)="applyFilter($event)" [(ngModel)]="state" >
      <option value="">
        Todos
      </option>
      <option value="Nuevo">
        Nuevo
      </option>
      <option value="Revisado">
        Revisado
      </option>
      <option value="En Proceso">
        En Proceso
      </option>
      <option value="Finalizado">
        Finalizado
      </option>
      <option value="Cancelado">
        Cancelado
      </option>
    </select>
  </div>
          
</div>
<div class="card">
  <div class="table-responsive">
  
     
  
    

    <div class="mat-elevation-z8">
      <div class="order__spinner" *ngIf="loading">
        <mat-spinner  ></mat-spinner>
      </div>
      
      <table mat-table [dataSource]="dataSource" matSort >
        
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.orderId}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear> Fecha </th>
          <td mat-cell *matCellDef="let element">{{element.attributes.createdAt | date}}</td>
        </ng-container>

    
        <!-- Weight Column -->
      
          <ng-container matColumnDef="agency">
            <th mat-header-cell *matHeaderCellDef> Agencia </th>
            <td mat-cell *matCellDef="let element"> {{element.attributes.orderAgency}} </td>
          </ng-container>
    
      
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.orderClientName}} </td>
        </ng-container>

        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef> Productos </th>
          <td mat-cell *matCellDef="let element"> <p *ngFor="let product of element.attributes.productArray">{{product.name}}</p> </td>
        </ng-container>

        <ng-container matColumnDef="reciver">
          <th mat-header-cell *matHeaderCellDef> Recibe </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.orderRecieverName}} </td>
        </ng-container>
        <ng-container matColumnDef="adress">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.orderAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Teléfonos </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.orderMobile}} - {{element.attributes.orderPhone}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> <div class="badge bg-success text-wrap" style="width: 6rem;" *ngIf="element.attributes.state == 'Nuevo'">
            {{element.attributes.state}}     
          </div>
          <div class="badge bg-warning text-wrap" style="width: 6rem;" *ngIf="element.attributes.state == 'Revisado'">
            {{element.attributes.state}}     
          </div>
          <div class="badge bg-primary text-wrap" style="width: 6rem;" *ngIf="element.attributes.state == 'En Proceso'">
            {{element.attributes.state}}     
          </div>
          <div class="badge bg-danger text-wrap" style="width: 6rem;" *ngIf="element.attributes.state == 'Finalizado'">
            {{element.attributes.state}}     
          </div>
          <div class="badge bg-secondary text-wrap" style="width: 6rem;" *ngIf="element.attributes.state == 'Cancelado'">
            {{element.attributes.state}}     
          </div> </td>
        </ng-container>
        <ng-container matColumnDef="accions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions__row">
              <div *ngIf="!admin && !sucursal">
               <button class="btn btn-primary btn-xs" data-title="List" data-toggle="modal" data-target="#list" (click)="editOrder(element.attributes, element.id)"><span class="fa fa-list"></span></button>
              </div>
              <div *ngIf="admin || sucursal">
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="editOrder(element.attributes, element.id)"><span class="fa fa-edit"></span></button>
              </div>
              <div *ngIf="admin">
               <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteOrder(element)"><span class="fa fa-trash"></span></button>
              </div>
            </div>
          
          </td> 
          
        
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
    
<!--                 
    <table id="mytable" class="table table-bordred table-striped">
         
         <thead>
         
          <th scope="col">Id</th>
          <th scope="col">Fecha</th>
          <th scope="col">Agencia</th>
          <th scope="col">Cliente</th>
          <th scope="col">Productos</th>
          <th scope="col">Recibe</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
          
         </thead>
  <tbody>
  
  
  
  <tr *ngFor="let order of orders">
    <th scope="row">{{order.attributes.orderId}}</th>
    <th >{{order.attributes.createdAt.getDate()}}/{{order.attributes.createdAt.getMonth()+1}}/{{order.attributes.createdAt.getFullYear()}}</th>
    <td>{{order.attributes.orderAgency}}</td>
    <td>{{order.attributes.orderClientName}}</td>
    <td><p *ngFor="let product of order.attributes.productArray">{{product.name}}</p></td>
    <td>{{order.attributes.orderRecieverName}}</td>
    <td>{{order.attributes.orderAddress}}</td>
    <td>{{order.attributes.orderPhone}}</td>
    <td><div class="badge bg-success text-wrap" style="width: 6rem;" *ngIf="order.attributes.state == 'Nuevo'">
      {{order.attributes.state}}     
    </div>
    <div class="badge bg-warning text-wrap" style="width: 6rem;" *ngIf="order.attributes.state == 'Revisado'">
      {{order.attributes.state}}     
    </div>
    <div class="badge bg-primary text-wrap" style="width: 6rem;" *ngIf="order.attributes.state == 'En Proceso'">
      {{order.attributes.state}}     
    </div>
    <div class="badge bg-danger text-wrap" style="width: 6rem;" *ngIf="order.attributes.state == 'Finalizado'">
      {{order.attributes.state}}     
    </div>
    <div class="badge bg-secondary text-wrap" style="width: 6rem;" *ngIf="order.attributes.state == 'Cancelado'">
      {{order.attributes.state}}     
    </div>
  </td>
  <td *ngIf="!admin && !sucursal"><p data-placement="top" data-toggle="tooltip" title="List"><button class="btn btn-primary btn-xs" data-title="List" data-toggle="modal" data-target="#list" (click)="editOrder(order.attributes, order.id)"><span class="fa fa-list"></span></button></p></td>
  <td *ngIf="admin || sucursal"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="editOrder(order.attributes, order.id)"><span class="fa fa-edit"></span></button></p></td>
  <td *ngIf="admin"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteOrder(order)"><span class="fa fa-trash"></span></button></p></td>
  </tr>
  </tbody>
  
  </table> -->
  <!-- <mat-paginator [length]="orders.length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->

  <!-- <div class="clearfix"></div>
  <ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="fa fa-arrow-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="fa fa-arrow-right"></span></a></li>
  </ul> -->
      
  </div>
  
</div>
