<div class="card card__group">
    <div class="card border__shadow transactions__card">
        <div class="card__title">
            New Transactions
        </div>
        <div class="transactions">
            <div class="transactions__items" *ngFor="let friends of friends">
                <div class="circle__avatar">
                    <img src="../../../../assets/images/avatars/{{friends.name}}.jpg" alt="">
                </div>
                <div class="transactions__name">
                    {{friends.name}}
                </div>
            </div>
            <div class="transactions__items">
                <div class="transactions__add">
                    <div>
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>

                </div>
                <div class="transactions__name">
                    Add new
                </div>
            </div>
        </div>
        <div class="send__transfer">
            <div class="amount__input">
                <input type="text" placeholder="0">
                <div class="input__icon">
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                </div>
            </div>
            <div class="amount__button">
                <input type="button" value="Send the transfer >">
            </div>
        </div>
    </div>
    <div class="card border__shadow loan__card">
        <div class="loan__text">
            Get great <br>loan! >
        </div>
    </div>
</div>