.card__group{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.loan__card{    
    flex-direction: row;
    align-items: flex-end;    
    background-image: url('../../../../assets/images/card-background-red.svg');
    height: auto; 
    margin-right: 38px;
}
.loan__text{       
    color: white;
    font-weight: bold;
}
.transactions{
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}
.transactions__card{
    padding: 19px 0px 0px 12px;
    margin-right: 16px;
}
.transactions__name{
    font-size: 11px;
    padding-top: 5px;
}
.transactions__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 12px 0px 0px;
    img{
        height: 50px;
    }
}
.circle__avatar{
    border-radius: 50px;
    background: url('../../../../assets/images/avatars/1.jpg');    
    height: 38px;
    width: 38px;
}
.send__transfer{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
.amount__input{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 1px rgb(53, 50, 212);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
    input{
        border: none;
        outline: none;
        width: 100%;

    }
}
.amount__button{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background: orange;
    margin: 0px 9px 0px 0px;
    input{
        border: none;
        outline: none;
        width: 100%;
        background: none;
        font-size: 10px;
    }
}
.input__icon{
    height: 10px;
    width: 10px;
}