<div class="card card__group">
    <div class="card border__shadow">
        <div class="card__title">
            New Transactions
          </div>
          <div class="transactions">
              <div class="transactions__items">
                  <img src="../../../../assets/images/avatar.svg" alt="">
                  <div class="transactions__name">
                      Ann
                  </div>
              </div>
              <div class="transactions__items">
                <img src="../../../../assets/images/avatar.svg" alt="">
                <div class="transactions__name">
                    Ann
                </div>
            </div>
            <div class="transactions__items">
                <img src="../../../../assets/images/avatar.svg" alt="">
                <div class="transactions__name">
                    Ann
                </div>
            </div>
            <div class="transactions__items">
                <img src="../../../../assets/images/avatar.svg" alt="">
                <div class="transactions__name">
                    Ann
                </div>
            </div>
            <div class="transactions__items">
                <img src="../../../../assets/images/avatar.svg" alt="">
                <div class="transactions__name">
                    Ann
                </div>
            </div>
            <div class="transactions__items">
                <img src="../../../../assets/images/avatar.svg" alt="">
                <div class="transactions__name">
                    Ann
                </div>
            </div>
          </div>
          <div class="send__transfer">
              <div class="amount__input">
                <input type="text" placeholder="0">
                <div class="input__icon">
                 <img src="../../../../assets/images/icons/bell.svg" alt="">
                </div>
              </div>
              <div class="amount__button">
                  <input type="button" value="Send the transfer >">
              </div>

          </div>
    </div>
    <div class="card border__shadow loan__card">
        <div class="loan__text">
            Get great loan! >
        </div>
    </div>
</div>