<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="admin">
        <div class="title-box text-center pt-5">
            <h3 class="title-a">
                Editar Pedido
            </h3>
            <p class="subtitle-a">
                Actualice todos los datos del pedido
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<div class="send__sms__container" *ngIf="admin">
  <div class="send__sms">
    <button class="sms__button"  (click)="openDialog()"><i class="fa fa-mobile-phone fa-2x"></i>Enviar SMS a Cliente</button>
  </div>
</div>


<div class="d-flex card">

  <form (ngSubmit)="onSubmit( f )"  #f="ngForm">


    <label class="fname"><strong>Cliente</strong> </label>
      <input type="text"
      class="form-control"
      [(ngModel)]="order.orderClientName"
      placeholder="Nombre del Cliente"
      name="orderClientName"
      #orderClientName = "ngModel"
      style="height: 35px;">


      <label class="lname"> <strong>Número del Cliente</strong> </label>
      <input type="number"
      class="form-control"
      [(ngModel)]="order.orderClientNumber"
      [class.is-invalid]="orderClientNumber.invalid && orderClientNumber.touched"
      required
      placeholder="Número del Cliente"
      name="orderClientNumber"
      #orderClientNumber = "ngModel"
      style="height: 35px;">


      <div class="col-md-12 mt-2">
        <div class="row">
        <div class="col-md-6">
          <label class="lname"> <strong>Cantidad</strong> </label>
          <input type="number"
          class="form-control"
          [(ngModel)]="order.orderAmount"
          [class.is-invalid]="orderAmount.invalid && orderAmount.touched"
          required
          placeholder="Cantidad"
          name="orderAmount"
          #orderAmount = "ngModel"
          style="height: 35px;">
        </div>

        <div class="col-md-6">
          <label> <strong>Moneda</strong>  </label>
          <select type="text"
          class="form-select"
          [(ngModel)]="order.orderCurrency"
          [class.is-invalid]="orderCurrency.invalid && orderCurrency.touched"
          required
          placeholder="Municipio"
          name="orderCurrency"
          #orderCurrency = "ngModel"
          style="height: 35px;">

            <option>
              Moneda Nacional(MN)
            </option>
            <option>
              Moneda Libremente Convertible(MLC)
            </option>
          </select>
        </div>
        </div>
      </div>

      <label> <strong>Agencia</strong>  </label>
          <select type="text"
          class="form-select"
          [(ngModel)]="order.orderAgency"
          [class.is-invalid]="orderAgency.invalid && orderAgency.touched"
          required
          disabled
          placeholder="Municipio"
          name="orderAgency"
          #orderAgency = "ngModel"
          style="height: 35px;">

            <option>
              agencymanag3r
            </option>
            <option>
             Opción 2
            </option>
          </select>


    <label>
      <label><strong>Estado</strong></label>
      <select
      [(ngModel)]="order.state"
      [class.is-invalid]="state.invalid && state.touched"
      required
      [disabled]="!admin || !(order.state == 'Nuevo')"

      name="state"
      #state = "ngModel"
      class="form-select"
      style="height: 35px;">
          <option value="Nuevo">
            Nuevo
          </option>
          <option value="Revisado">
            Revisado
          </option>
          <option value="En Proceso">
            En Proceso
          </option>
          <option value="En Tiempo">
            En Tiempo
          </option>
          <option value="En Termino">
            En Termino
          </option>
          <option value="Atrasado">
            Atrasado
          </option>
          <option value="Finalizado">
            Finalizado
          </option>
          <option value="Cancelado">
            Cancelado
          </option>
      </select>

    </label>

 <div class="row">
    <label *ngIf="order.state == 'Cancelado'">
        <span>Motivos de cancelación</span>
        <textarea [(ngModel)]="order.orderCancelMotive"
                  name="orderCancelMotive"
                  [disabled]="!admin"
                  placeholder="Describa el motivo de la cancelación ..."
                  class="form-control"></textarea>
     </label>


  <div class="col-lg-6">
    <div class="card mb-3 shadow" *ngIf="admin || order.state == 'Finalizado' || sucursal">
      <h3 class="text-center mt-2" *ngIf="admin || sucursal">
        <b>
          Subir Albaran
        </b>
        </h3>
        <h3 class="text-center mt-2" *ngIf="!admin || !sucursal">
          <b>
            Albaran
          </b>
          </h3>
      <div class="card-body text-center ">
        comprobante
        <a [href]='img' target="_blank">

          <img class="mb-3" src='{{img}}'  width="160" height="160" />
        </a>
        <div  *ngIf="(admin && user!='buttycomercial') || sucursal">
          <input type="file"
          name="photo"
          accept="image/*"
          class="form-control mb-4"
           [(ngModel)]="photosrc"
          (change)="photo($event)" >
        </div>



    </div>
    </div>

  </div>

 </div>

    <div class="row col-lg-12" *ngIf="(admin || sucursal) || (order.state == 'Nuevo')">
      <div class="col-lg-6">
        <button type="submit" >Actualizar Pedido</button>
      </div>
      <!-- <div class="col-lg-6" *ngIf="(admin || sucursal)">
        <button type="submit" class="print__factura" (click)="print()">Imprimir Factura</button>
      </div> -->

    </div>



</form>
 </div>
</div>
