<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="admin">
        <div class="title-box text-center pt-5">
            <h3 class="title-a">
                Editar Pedido
            </h3>
            <p class="subtitle-a">
                Actualice todos los datos del pedido
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<!-- <div class="send__sms__container" *ngIf="admin">
  <div class="send__sms">
    <button class="sms__button"  (click)="openDialog()"><i class="fa fa-mobile-phone fa-2x"></i>Enviar SMS a Cliente</button>
  </div>
</div> -->


<div class="d-flex card">

  <form (ngSubmit)="onSubmit( f )"  #f="ngForm">


    <label class="fname"><strong>Cliente</strong> </label>
      <input type="text"
      class="form-control"
      [(ngModel)]="order.orderClientName"
      placeholder="Nombre del Cliente"
      name="orderClientName"
      #orderClientName = "ngModel"
      style="height: 35px;">


      <div class="col-md-12 mt-2">
        <div class="row">
          <label> <strong>Teléfonos del Cliente *(requerido uno de los dos)</strong>  </label>
        <div class="col-md-6">
          <input type="text"
          class="form-control"
          [(ngModel)]="order.orderMobile"
          [class.is-invalid]="orderMobile.invalid && orderMobile.touched"
          placeholder="Teléfono Móvil"
          [pattern]="mobNumberPattern"
          [required]
          name="orderMobile"
          #orderMobile = "ngModel"
          style="height: 35px;">
          <small *ngIf="orderMobile.invalid && orderMobile.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe comenzar con 5 y tener 8 caracteres)</small>
        </div>
        <div class="col-md-6"> <input type="text"
          class="form-control"
          [(ngModel)]="order.orderPhone"
          [class.is-invalid]="orderPhone.invalid && orderPhone.touched"
          placeholder="Teléfono Fijo"
          [pattern]="fixNumberPattern"
          [required]="!order.orderMobile"
          name="orderPhone"
          #orderPhone = "ngModel"
          style="height: 35px;">
          <small *ngIf="orderPhone.invalid && orderPhone.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe tener 8 caracteres)</small>
          </div>
        </div>
      </div>

      <label> <strong>Provincia*</strong>  </label>
      <select  [(ngModel)]="order.orderProvince"
      class="form-select"
      name="orderProvince"
      [class.is-invalid]="orderProvince.invalid && orderProvince.touched"
      #orderProvince="ngModel"
      style="height: 35px;"
      style="height: 35px;">

              <option>
                Pinar del Río
              </option>
              <option>
               La Habana
              </option>
              <option>
                Artemisa
               </option>
               <option>
                Mayabeque
               </option>
               <option>
                Matanzas
               </option>
               <option>
                Villa Clara
               </option>
               <option>
                Cienfuegos
               </option>
               <option>
                Sancti Spíritus
               </option>
               <option>
                Ciego de Ávila
               </option>
               <option>
                Camagüey
               </option>
               <option>
                Las Tunas
               </option>
               <option>
                Holguín
               </option>
               <option>
                Granma
               </option>
               <option>
                Santiago de Cuba
               </option>
               <option>
                Guantánamo
               </option>
               <option>
                Isla de la Juventud
               </option>
            </select>



      <div class="col-md-12 mt-2">
        <div class="row">
        <div class="col-md-6">
          <label class="lname"> <strong>Cantidad</strong> </label>
          <input type="number"
          class="form-control"
          [(ngModel)]="order.orderAmount"
          [class.is-invalid]="orderAmount.invalid && orderAmount.touched"
          required
          placeholder="Cantidad"
          name="orderAmount"
          #orderAmount = "ngModel"
          style="height: 35px;">
        </div>

        <div class="col-md-6">
          <label> <strong>Moneda</strong>  </label>
          <select type="text"
          class="form-select"
          [(ngModel)]="order.orderCurrency"
          [class.is-invalid]="orderCurrency.invalid && orderCurrency.touched"
          required
          placeholder="Municipio"
          name="orderCurrency"
          #orderCurrency = "ngModel"
          style="height: 35px;">

            <option>
              Moneda Nacional(MN)
            </option>
            <option>
              Dolar Estadounidense(USD)
            </option>
          </select>
        </div>
        </div>
      </div>

      <label><strong>Municipio*</strong>  </label>
      <div class="row">
        <div class="col-md-12">
          <input type="text"
        class="form-control"
        [(ngModel)]="order.orderMunicipio"
        [class.is-invalid]="localidadV.invalid && localidadV.touched"
        placeholder="Localidad"
        name="localidad"
        #localidadV = "ngModel"
        style="height: 35px;"
        required>
        </div>
      </div>



    <label><strong>Dirección*</strong>  </label>
    <div class="row">
      <div class="col-md-4">
        <input type="text"
      class="form-control"
      [(ngModel)]="order.numerocasa"
      [class.is-invalid]="streetNumberV.invalid && streetNumberV.touched"
      required
      placeholder="Número de la casa"
      name="streetNumber"
      #streetNumberV = "ngModel"
      style="height: 35px;">
      </div>
      <div class="col-md-4">
        <input type="text"
      class="form-control"
      [(ngModel)]="order.calleP"
      [class.is-invalid]="streetV.invalid && streetV.touched"
      required
      placeholder="Calle principal"
      name="street"
      #streetV = "ngModel"
      style="height: 35px;">
      </div>
      <div class="col-md-4">
        <input type="text"
      class="form-control"
      [(ngModel)]="order.callE"

      placeholder="Entre calles"
      name="streetB"
      #streetBV = "ngModel"
      style="height: 35px;">
      </div>
    </div>



    <label> <strong>Referencia</strong> </label>
    <input type="text"
    class="form-control"
    [(ngModel)]="order.orderReference"

    placeholder="Ingrese un lugar de referencia"
    name="orderReference"
    #orderReference = "ngModel"
    style="height: 35px;">


    <label>
      <label><strong>Estado</strong></label>
      <select
      [(ngModel)]="order.state"
      [class.is-invalid]="state.invalid && state.touched"
      required
      [disabled]="!admin || (order.state == 'Finalizado')"

      name="state"
      #state = "ngModel"
      class="form-select"
      style="height: 35px;">
          <option value="Nuevo">
            Nuevo
          </option>
          <option value="En Proceso">
            En Proceso
          </option>
          <option value="Finalizado">
            Finalizado
          </option>
          <option value="Cancelado">
            Cancelado
          </option>
      </select>

    </label>

 <div class="row">
    <label *ngIf="order.state == 'Cancelado'">
        <span>Motivos de cancelación</span>
        <textarea [(ngModel)]="order.orderCancelMotive"
                  name="orderCancelMotive"
                  [disabled]="!admin"
                  placeholder="Describa el motivo de la cancelación ..."
                  class="form-control"></textarea>
     </label>


  <div class="col-lg-6">
    <div class="card mb-3 shadow" *ngIf="order.state == 'Finalizado' || sucursal">
      <h3 class="text-center mt-2" *ngIf="admin || sucursal">
        <b>
          Subir Evidencia
        </b>
        </h3>
        <h3 class="text-center mt-2" *ngIf="!admin || !sucursal">
          <b>
            Evidencia
          </b>
          </h3>
      <div class="card-body text-center">
        comprobante
        <a [href]='img' target="_blank">

          <img class="mb-3 img-fluid" src='{{img}}'  width="160" height="160" />
        </a>
        <div class="inputimg" *ngIf="(admin && user!='buttycomercial') || sucursal">
          <input type="file"
          name="photo"
          accept="image/*"
          class="form-control mb-4"
           [(ngModel)]="photosrc"
          (change)="photo($event)" >
        </div>
      </div>

    </div>

  </div>

 </div>

    <div class="row col-lg-12" *ngIf="(admin || sucursal) || (order.state == 'Nuevo')">
      <div class="col-lg-6">
        <button type="submit" >Actualizar Pedido</button>
      </div>
      <!-- <div class="col-lg-6" *ngIf="(admin || sucursal)">
        <button type="submit" class="print__factura" (click)="print()">Imprimir Factura</button>
      </div> -->

    </div>



</form>
 </div>
</div>
