.secondcolumn__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.goals__card{
    padding-left: 6px;
}
.goal{
    margin-top: 0px;
    margin-right: 18px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px 20px;       
}
.goal__number{
    font-size: 24px;
}
.goals__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.goal__icon{
    font-size: 23px;
}
.goal__top{
    padding-bottom: 34px;
}
.next{    
    display: flex;
    flex-direction: column;
    align-self: center;    
    color: #027eac;
    font-size: 24px;
    cursor: pointer;      
}
    
