<div class="secondcolumn__container">
  <div class="goals">
    <div class="goals__card card">
      <div class="card__title">
        Goals
      </div>
      <div class="goals__container">
        <div *ngFor="let goal of goals | slice:slice_begin:slice_end; let i=index" class="card border__shadow goal">
          <div class="goal__top">
            <div class="goal__number">
              ${{goal.amount}}
            </div>
            <div class="goal__date">
              <span>{{goal.date}}</span>
            </div>
          </div>
          <div class="goal__icon" [style.color]=goal.color>
            <fa-icon [icon]="['fas', goal.icon]"></fa-icon>
          </div>
          <div class="goal__name">
            {{goal.name}}
          </div>
        </div>
        <div class="next" (click)="onNext()">
          <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="outcome">
    <app-outcome [transactions]="transactions"></app-outcome>
  </div>
  <div class="bottom">
    <app-bottom [friends]="friends"></app-bottom>
  </div>
</div>