<div class="secondcolumn__container">
    <div class="goals">
        <div class="goals__card card">
            <div class="card__title">
              Goals
            </div>
            <div class="row">
              <div class="card border__shadow">
                <div class="goal">
                  <div class="goal__number">
                      $550              
                  </div>
                  <div class="goal__date">
                    <p>12/20/20</p>
                  </div>
                  <div class="goal__icon">
                    <img src="assets/images/icons/bell.svg" alt="">
                  </div>
                  <div class="goal__name">
                    Holiday
                  </div>
                </div>
              </div>
              <div class="card border__shadow">
                <div class="goal">
                  <div class="goal__number">
                      $550              
                  </div>
                  <div class="goal__date">
                    <p>12/20/20</p>
                  </div>
                  <div class="goal__icon">
                    <img src="assets/images/icons/bell.svg" alt="">
                  </div>
                  <div class="goal__name">
                    Holiday
                  </div>
                </div>
              </div>
              <div class="card border__shadow">
                <div class="goal">
                  <div class="goal__number">
                      $550              
                  </div>
                  <div class="goal__date">
                    <p>12/20/20</p>
                  </div>
                  <div class="goal__icon">
                    <img src="assets/images/icons/bell.svg" alt="">
                  </div>
                  <div class="goal__name">
                    Holiday
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="outcome">
        <app-outcome></app-outcome>
    </div>
    <div class="bottom">
        <app-bottom></app-bottom>
    </div>
</div>
