<div class="card border__shadow">
    <div class="card__title">
      Transaction history
    </div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Reciever</div>
        <div class="col col-2">Type</div>
        <div class="col col-3">Date</div>
        <div class="col col-4">Amount</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Reciever">Tesco Market</div>
        <div class="col col-2" data-label="Type">Shopping</div>
        <div class="col col-3" data-label="Date">13 Dec 2020</div>
        <div class="col col-4" data-label="Amount">$75.67</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Reciever">ElectroMen Market</div>
        <div class="col col-2" data-label="Type">Shopping</div>
        <div class="col col-3" data-label="Date">14 Dec 2020</div>
        <div class="col col-4" data-label="Amount">$250.00</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Reciever">Fiorgio Restaurant</div>
        <div class="col col-2" data-label="Type">Food</div>
        <div class="col col-3" data-label="Date">07 dec 2020</div>
        <div class="col col-4" data-label="Amount">$19.50</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Reciever">John Mathew Kayne</div>
        <div class="col col-2" data-label="Type">Sport</div>
        <div class="col col-3" data-label="Date">06 Dec 2020</div>
        <div class="col col-4" data-label="Amount">$350</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Reciever">Ann Marlin</div>
        <div class="col col-2" data-label="Type">Shopping</div>
        <div class="col col-3" data-label="Date">31 Nov 2020</div>
        <div class="col col-4" data-label="Amount">$430</div>
      </li>
    
    </ul>
  </div>