<div class="card border__shadow">
  <div class="card__title">
    Transaction history
  </div>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1"><span>Reciever</span></div>
      <div class="col col-2"><span>Type</span></div>
      <div class="col col-3"><span>Date</span></div>
      <div class="col col-4"><span>Amount</span></div>
    </li>
    <li *ngFor="let transaction of transactions| slice:0:5; let i=index" class="table-row">
      <div class="col col-1" data-label="Reciever">
        <div class="row__icon">
          <fa-icon [icon]="['fas', transaction.icon]"></fa-icon>
        </div>
        <div class="row__text">
          {{transaction.reciever}}
        </div>
      </div>
      <div class="col col-2" data-label="Type"><span>{{transaction.type}}</span></div>
      <div class="col col-3" data-label="Date"><span>{{transaction.date}}</span></div>
      <div class="col col-4" data-label="Amount">${{transaction.amount}}</div>
    </li>
  </ul>
</div>