.responsive-table {
    width: 100%;   
    padding: 0px;  
    margin: 0px;
    svg{
      height: 10px;
    }
    ul{
      padding: 0px;
    }
    li {
      border-radius: 3px;
      padding: 6px 0px 12px 0px;
      display: flex;
      justify-content: space-between;
      font-size: 13px;
    }
    .table-header {      
      font-size: 14px;      
      letter-spacing: 0.03em;
    }
    .table-row {
      border-bottom: 30px;
      border-color: black; 
          
    }
    .col{
      display: flex;
      align-items: center;
    }
    .col-1 {
      flex-basis: 40%;
    }
    .col-2 {
      flex-basis: 20%;
    }
    .col-3 {
      flex-basis: 30%;
    }
    .col-4 {
      flex-basis: 20%;
    }    
    .row__text{
      margin-left: 10px;
    }
    .row__icon{      
    height: 18px;
    width: 18px;   
    padding: 2px 0px 0px 4px;
    border-radius: 6px;
    background: #EFEFEF;
}
}
 
  