.navbar {
    background: #ffffff;
    grid-area: nav;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    flex-wrap: wrap;    
  }
  .nav_icon {
    display: none;
  }
  
  .nav_icon > i {
    font-size: 26px;
    color: #a5aaad;
  }

  .navbar__left{
    text-align: center;    
  }
  .navbar__title {    
    font-size: 30px;    
    color: black;  
  }
  .navbar__subtitle{
    color: rgb(128, 125, 125);
  } 

  .navbar__left > a {
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
    
  }
  
  .navbar__left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
  }
  
  .navbar__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  
  .navbar__right > a {
    margin-left: 20px;
    text-decoration: none;   

  }    
  .navbar__actions > a > img{
    height: 20px;
  }
  .navbar__avatar > a > img{
      height: 30px;
  }
  .navbar__account{
      text-align: start;
  }
  .user__name{
    color: black;
    font-weight: bold;
    font-size: 13px;
  }
  .user__role{
    color: rgb(124, 124, 124);
    font-size: 13px;
  }

  @media only screen and (min-width: 1024px) {     
    .navbar{
      display: flex;
      justify-content: space-between;
      text-align: start;
    }
    .navbar__left{
      text-align: start;
      margin-top: 40px;
      margin-bottom: 35px;
      margin-right: 40;
      margin-left: 40px;
    }
    .navbar__right{
      margin: 0px 26px;
      padding-top: 10px;
      margin: 5px 52px 0px 0px;
    }
    .navbar__title {    
      font-size: 39px;       
    }
    
    
  }