<div class="container animated bounceIn">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-16 col-xl-10">
            <div class="card shadow o-hidden border-0 my-5">
                <div class="card-body p-0">
                    
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url('assets/images/login.jpg');"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">                                
                                    <div class="title__container">
                                        <img src="assets/images/logo.png">                                   
                                            <h5 class="text-dark">Bienvenido a <b>Buttymanager</b></h5>                                    
                                      </div>
                                      <hr />                              
                                                <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)="auth.loginWithRedirect()">Entrar</button>
                                      
                                    <div class="text-center"><a class="small" href="forgot-password.html">Olvidó su contraseña?</a></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                        
                       
                    
                </div>
            </div>
        </div>
    </div>
</div>