<div class="container animated bounceIn">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url('assets/images/login.jpg');"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">                                
                                <div class="title__container">
                                    <img src="assets/images/logo.png">                                   
                                        <h5 class="text-dark">Bienvenido a <b>Buttymanager</b></h5>                                    
                                  </div>
                                  <hr />
                                <form   [formGroup]="loginForm" (ngSubmit)="loginUser()" type=""
                                        class="user">      
                                        <small *ngIf="emailInvalid" class="text-danger">
                                            Correo no válido
                                        </small>                               
                                    <div class="form-group"><input 
                                        type="email" 
                                        class="form-control form-control-user" 
                                        [class.is-invalid]="emailInvalid"
                                        autocomplete="off" formControlName="email" type="email"
                                        placeholder="Entre su correo..."  
                                        name="email" /></div> 
                                        <small *ngIf="passwordInvalid" class="text-danger">
                                            Ingrese su contraseña
                                        </small>                                      
                                    <div class="form-group"><input 
                                        type="password" 
                                        class="form-control form-control-user" 
                                        autocomplete="off" formControlName="password" type="password"
                                        [class.is-invalid]="passwordInvalid"
                                        placeholder="Contraseña" 
                                        name="password" /></div>
                                        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                                            <span>{{ firebaseErrorMessage }}</span>
                                        </div>
                                    <div class="form-group">
                                        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input type="checkbox" class="form-check-input custom-control-input" id="formCheck-1" /><label class="form-check-label custom-control-label" for="formCheck-1">Recuerdame</label></div>
                                            </div>
                                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Entrar</button>
                                        
                                          </div>
                                     
                                         
                                    </div>
                                    <hr />
                                   
                                </form>
                                <div class="text-center"><a class="small" href="forgot-password.html">Olvidó su contraseña?</a></div>
                                <div class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>