<div class="firstcolumn__container">
  <div class="cards__container">
    <div class="card border__shadow">
      <div class="card__title">
        Cards
      </div>
      <div class="card__inner">
        <div class="column">
          <div class="thumbs__card">
          </div>
          <div class="progressbar__group row">
            <div id="progressbar">
              <div class="weekly__progressbar"></div>
            </div>
          </div>
          <div class="weekly__payment row">
            <span>
              Weekly payment limit.
            </span>
            $350.60/ $4000
          </div>
        </div>
        <div class="card__balance">
          <div class="balance">
            <div class="current__balance__number">
              $2850.75</div>
            <span>Current balance</span>
          </div>
          <div class="balance">
            <div class="income__number">
              $2850.75</div>
            <span>Income</span>
          </div>
          <div class="balance">
            <div class="outcome__number">
              $2850.75</div>
            <span>Outcome</span>
          </div>
          <div class="card__deactivate">
            <label class="switchBtn">
              <input type="checkbox">
              <div class="slide round"></div>            
            </label>
           <span>Deactivate card</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="transaction__container">
    <app-transactions></app-transactions>
  </div>
</div>