<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="title-box text-center pt-5">
            <h3 class="title-a">
                Configurar pedido
            </h3>
            <p class="subtitle-a">
                Complete todos los datos para realizar su pedido (los campos con * son requeridos)
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<div class="d-flex card">
  <form (ngSubmit)="onSubmit( f )"  #f="ngForm">

      <!-- <label class="fname"><strong>ID *</strong>  </label>
      <input type="text"
      class="form-control"
      [(ngModel)]="order.orderId"
      [class.is-invalid]="orderId.invalid && orderId.touched"
      required
      placeholder="Identificador de Pedido"
      name="orderId"
      #orderId = "ngModel"> -->


      <label class="fname"><strong>Cliente*</strong> </label>
      <input type="text"
      class="form-control"
      [(ngModel)]="order.orderClientName"
      [class.is-invalid]="orderClientName.invalid && orderClientName.touched"
      placeholder="Nombre del Cliente"
      name="orderClientName"
      #orderClientName = "ngModel"
      style="height: 35px;"
      required>



      <!-- <div class="row">
         <div class="col-xl-3 row">
           <div class="col-xl-4">
            <label class="lname"> <strong>Tarjeta</strong> </label>
           </div>
           <div class="col-xl-2">
             <input type="checkbox" (click)="contarjeta()" style="height: 20px;">
           </div>
         </div>
      </div>
      <input *ngIf="tarjeta"
      type="number"
      class="form-control"
      [(ngModel)]="order.orderClientNumber"
      [class.is-invalid]="orderClientNumber.invalid && orderClientNumber.touched"
      required
      placeholder="Número del Cliente"
      name="orderClientNumber"
      #orderClientNumber = "ngModel"
      style="height: 35px;"> -->

      <div class="col-md-12 mt-2">
        <div class="row">
          <label> <strong>Teléfonos del Cliente *(requerido uno de los dos)</strong>  </label>
        <div class="col-md-6">
          <input type="text"
          class="form-control"
          [(ngModel)]="order.orderMobile"
          [class.is-invalid]="orderMobile.invalid && orderMobile.touched"
          placeholder="Teléfono Móvil"
          [pattern]="mobNumberPattern"
          [required]
          name="orderMobile"
          #orderMobile = "ngModel"
          style="height: 35px;">
          <small *ngIf="orderMobile.invalid && orderMobile.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe comenzar con 5 y tener 8 caracteres)</small>
        </div>
        <div class="col-md-6"> <input type="text"
          class="form-control"
          [(ngModel)]="order.orderPhone"
          [class.is-invalid]="orderPhone.invalid && orderPhone.touched"
          placeholder="Teléfono Fijo"
          [pattern]="fixNumberPattern"
          [required]="!order.orderMobile"
          name="orderPhone"
          #orderPhone = "ngModel"
          style="height: 35px;">
          <small *ngIf="orderPhone.invalid && orderPhone.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe tener 8 caracteres)</small>
          </div>
        </div>
      </div>


        <div class="col-md-12">
          <div class="row">
          <div class="col-md-6">
            <label class="lname"> <strong>Cantidad*</strong> </label>
            <input type="number"
            class="form-control"
            [(ngModel)]="order.orderAmount"
            [class.is-invalid]="orderAmount.invalid && orderAmount.touched"
            required
            placeholder="Cantidad"
            name="orderAmount"
            #orderAmount = "ngModel"
            style="height: 35px;">
          </div>

          <div class="col-md-6">
            <label> <strong>Moneda*</strong>  </label>
            <select type="text"
            class="form-select"
            [(ngModel)]="order.orderCurrency"
            [class.is-invalid]="orderCurrency.invalid && orderCurrency.touched"
            required
            placeholder="Municipio"
            name="orderCurrency"
            #orderCurrency = "ngModel"
            style="height: 35px;">

              <option>
                Moneda Nacional(MN)
              </option>
              <option>
                Dolar Estadounidense(USD)
              </option>
            </select>
          </div>
          </div>
        </div>

        <label> <strong>Provincia*</strong>  </label>
      <select  [(ngModel)]="order.orderProvince"
      class="form-select"
      name="orderProvince"
      [class.is-invalid]="orderProvince.invalid && orderProvince.touched"
      (change)="initProvince()"
      #orderProvince="ngModel"
      style="height: 35px;">

              <option>
                Pinar del Río
              </option>
              <option>
               La Habana
              </option>
              <option>
                Artemisa
               </option>
               <option>
                Mayabeque
               </option>
               <option>
                Matanzas
               </option>
               <option>
                Villa Clara
               </option>
               <option>
                Cienfuegos
               </option>
               <option>
                Sancti Spíritus
               </option>
               <option>
                Ciego de Ávila
               </option>
               <option>
                Camagüey
               </option>
               <option>
                Las Tunas
               </option>
               <option>
                Holguín
               </option>
               <option>
                Granma
               </option>
               <option>
                Santiago de Cuba
               </option>
               <option>
                Guantánamo
               </option>
               <option>
                Isla de la Juventud
               </option>
            </select>

        <label> <strong>Municipio</strong>  </label>
      <select type="text"
      class="form-select"
      [(ngModel)]="order.orderMunicipio"
      [class.is-invalid]="orderMunicipio.invalid && orderMunicipio.touched"
      placeholder="Municipio"
      name="orderMunicipio"
      #orderMunicipio = "ngModel"
      style="height: 35px;">

<option *ngFor="let m of municipios">
  {{m}}
</option>
</select>

<label><strong>Localidad*</strong>  </label>
        <div class="row">
          <div class="col-md-12">
            <input type="text"
          class="form-control"
          [(ngModel)]="order.orderLocalidad"
          [class.is-invalid]="localidadV.invalid && localidadV.touched"
          placeholder="Localidad"
          name="localidad"
          #localidadV = "ngModel"
          style="height: 35px;"
          required>
          </div>
        </div>


      <label><strong>Dirección*</strong>  </label>
      <div class="row">
        <div class="col-md-4">
          <input type="text"
        class="form-control"
        [(ngModel)]="streetNumber"
        [class.is-invalid]="streetNumberV.invalid && streetNumberV.touched"
        required
        placeholder="Número de la casa"
        name="streetNumber"
        #streetNumberV = "ngModel"
        style="height: 35px;">
        </div>
        <div class="col-md-4">
          <input type="text"
        class="form-control"
        [(ngModel)]="street"
        [class.is-invalid]="streetV.invalid && streetV.touched"
        required
        placeholder="Calle principal"
        name="street"
        #streetV = "ngModel"
        style="height: 35px;">
        </div>
        <div class="col-md-4">
          <input type="text"
        class="form-control"
        [(ngModel)]="streetB"

        placeholder="Entre calles"
        name="streetB"
        #streetBV = "ngModel"
        style="height: 35px;">
        </div>
      </div>



      <label> <strong>Referencia</strong> </label>
      <input type="text"
      class="form-control"
      [(ngModel)]="order.orderReference"

      placeholder="Ingrese un lugar de referencia"
      name="orderReference"
      #orderReference = "ngModel"
      style="height: 35px;">



      <!-- <div class="col-md-12">
        <div class="row">
          <label> <strong>Teléfonos *(requerido uno de los dos)</strong>  </label>
        <div class="col-md-6">
          <input type="text"
          class="form-control"
          [(ngModel)]="order.orderMobile"
          [class.is-invalid]="orderMobile.invalid && orderMobile.touched"
          placeholder="Teléfono Móvil"
          [pattern]="mobNumberPattern"
          [required]
          name="orderMobile"
          #orderMobile = "ngModel">
          <small *ngIf="orderMobile.invalid && orderMobile.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe comenzar con 5 y tener 8 caracteres)</small>
        </div>
        <div class="col-md-6"> <input type="text"
          class="form-control"
          [(ngModel)]="order.orderPhone"
          [class.is-invalid]="orderPhone.invalid && orderPhone.touched"
          placeholder="Teléfono Fijo"
          [pattern]="fixNumberPattern"
          [required]="!order.orderMobile"
          name="orderPhone"
          #orderPhone = "ngModel">
          <small *ngIf="orderPhone.invalid && orderPhone.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe tener 8 caracteres)</small>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-12">

          <label> <strong>Nota del cliente</strong>  </label>
          <textarea [(ngModel)]="order.orderNote"
          name="orderNote"
          placeholder="Escriba una nota ..."
          class="form-control"></textarea>

      </div> -->
    <button type="submit" >Completar Pedido</button>

</form>
 </div>
</div>
