<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="title-box text-center pt-5">
            <h3 class="title-a">
                Configurar pedido
            </h3>
            <p class="subtitle-a">
                Complete todos los datos para realizar su pedido
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<div class="d-flex card">
  <form action="" method="">
    <label>
      <span class="fname">Cliente <span class="required">*</span></span>
      <input type="text" name="fname">
    </label>
    <label>
      <span class="lname">Recibe<span class="required">*</span></span>
      <input type="text" name="lname">
    </label>
   
    <label>
      <span>Provincia <span class="required">*</span></span>
      <select name="selection">
        <option value="select">Seleccione la provincia...</option>
        <option value="AFG">Afghanistan</option>
        
      </select>
    </label>
    <label>
      <span>Municipio <span class="required">*</span></span>
      <input type="text" name="city"> 
    </label>
    <label>
      <span>Dirección <span class="required">*</span></span>
      <input type="text" name="houseadd" placeholder="Número de la casa, calle y entre calles" required>
    </label>
    
    
    
    <label>
      <span>Teléfono <span class="required">*</span></span>
      <input type="tel" name="city"> 
    </label>
   
  </form>
  <div class="Yorder">
    <table>
      <tr>
        <th colspan="2">Productos</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><img class="border"   src="assets/images/products/product_1.jpg" alt=""></td>
        <td>Combo Cárnico</td>
        <td>$55.00</td>
        <td><a href=""><i class="fa fa-trash"></i></a></td>
      </tr>
      <tr>
        <td><img class="border" src="assets/images/products/product_2.jpg" alt=""></td>
        <td>Combo Ahumados</td>
        <td>$65.00</td>
        <td><a href=""><i class="fa fa-trash"></i></a></td>
      </tr>
      <tr>
        <td></td>
        <td>Subtotal</td>
        <td>$120.00</td>
      </tr>
     
    </table><br>
    
    <button type="button">Completar Pedido</button>
  </div><!-- Yorder -->
 </div>
</div>