<div class="card">
    <div class="card__title">
        Outcome Statistics
    </div>
    <div class="progressbar__group">
        <div class="progressbar__item">
            <div class="progressbar__icon">
                <img src="assets/images/icons/bell.svg" alt="">
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="shopping__progressbar"></div>
                </div>
                <div class="progressbar__title">
                    <span>Shopping</span>
                </div>
            </div>
            <div class="outcome__percent">
                52%
            </div>
        </div>
        <div class="progressbar__item">
            <div class="progressbar__icon">
                <img src="assets/images/icons/bell.svg" alt="">
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="electronics__progressbar"></div>
                </div>
                <div class="progressbar__title">
                    <span>Electronics</span>
                </div>
            </div>
            <div class="outcome__percent">
                21%
            </div>
        </div>
        <div class="progressbar__item">
            <div class="progressbar__icon">
                <img src="assets/images/icons/bell.svg" alt="">
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="travel__progressbar"></div>
                </div>
                <div class="progressbar__title">
                    <span>Travels</span>
                </div>
            </div>
            <div class="outcome__percent">
                74%
            </div>
        </div>
       
    </div>
</div>