<div class="outcome__card">
    <div class="card__title">
        Outcome Statistics
    </div>
    <div class="progressbar__group">
        <div class="progressbar__item">
            <div class="progressbar__icon shopping">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="shopping__progressbar" [style.width]="shopping_outcome + '%'"></div>
                </div>
                <div class="progressbar__title">
                    <span>Shopping</span>
                </div>
            </div>
            <div class="outcome__percent">
                {{shopping_outcome}}%
            </div>
        </div>
        <div class="progressbar__item">
            <div class="progressbar__icon electronics">
                <fa-icon [icon]="faTruck"></fa-icon>
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="electronics__progressbar" [style.width]="electronics_outcome + '%'"></div>
                </div>
                <div class="progressbar__title">
                    <span>Electronics</span>
                </div>
            </div>
            <div class="outcome__percent">
                {{electronics_outcome}}%
            </div>
        </div>
        <div class="progressbar__item">
            <div class="progressbar__icon travels">
                <fa-icon [icon]="faPlaneDeparture"></fa-icon>
            </div>
            <div class="progressbar__main">
                <div id="progressbar">
                    <div class="travel__progressbar" [style.width]="travel_outcome + '%'"></div>
                </div>
                <div class="progressbar__title">
                    <span>Travels</span>
                </div>
            </div>
            <div class="outcome__percent">
                {{travel_outcome}}%
            </div>
        </div>
    </div>
</div>