<div class="container">
  <nav><app-navbar></app-navbar></nav> 
  <div id="sidebar"><app-sidebar></app-sidebar></div>
  <div id="first__column"><app-cards></app-cards></div>
  <div id="second__column"><app-goals></app-goals></div>
</div>

<!-- Old code -->
<!-- <div class="grid-container">
  <div class="menu-icon">
    <i class="fas fa-bars header__menu"></i>
  </div>
  <app-header class="header"></app-header>
  <aside class="sidenav">
    <app-sidenav></app-sidenav>
  </aside>
  <app-card class="main"></app-card>
</div> -->